@import 'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#d9d9d9;
    --secondary:#070606;
}
body{
    height: auto;
    font-family: 'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
   
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

#preloader{
    /* background: #070606; */
    height:100%;
    width: 100%;
    position: fixed;
    z-index:auto;
}


header{
    background:var(--dark) ;
    clip-path: polygon(0 0, 100% 0,100% 100%,75% 87%,0 100%);
}

.container{
    max-width: 1152px;
    padding:0 15px;
    margin: 0 auto;
}




@media(min-width:768px){
    .container{
        max-width: 720px;
    }
}

@media(min-width:992px){
    .container{
        max-width: 960px;
    }
}

@media(min-width:1200px){
    .container{
        max-width: 1152px;
    }
}

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right:2rem;
    text-transform: uppercase;
    transition:all .3s ease;
    -o-transition:all .3s;
    -moz-transition:all .3s ;
    -webkit-transition:all .3s ;
    -ms-transition:all .3s ;
}
header nav .left a:hover{
    color:var(--primary);
}

header nav{
    padding:0.78rem 0;
}

.hero{
    padding-bottom: 8rem;
}
header nav .branding{
    margin-right:3rem ;
}

.hero .left img{
   height: 500px;
}

.hero .right{
    color: var(--pure);
}

.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero .right h1{
    font-size:4rem;
    font-weight: 100;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.hero .right h1 span{
    color: var(--primary);
}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

section{
    padding: 6rem 0;
}

section.about .container .flex-1 .about-me-image{
    height: 500px;
    
}

section.about h1{
    margin-bottom: 1rem;
    font-size:2rem;
    font-weight: 400;
}

section.about h1 span{
    color: var(--primary);
}

section.about h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

section.about p{
    font-family: 'Lato',sans-serif;
    font-size: 30;
    line-height: 1.5;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 2rem;
}

section.about .social{
    display: flex;
    
}

section.about .social a{
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 40%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    margin-right: 0.5rem;
}

section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

section.about .social a:hover{
    background: var(--ternary);
    transition:all .3s ease;
    -o-transition:all .3s;
    -moz-transition:all .3s ;
    -webkit-transition:all .3s ;
    -ms-transition:all .3s ;
}

.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato',sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}

.section-heading span{
    color: var(--primary);
}


section.avocation{
    background-color: var(--light);
}
section.avocation .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 7rem;
    text-align: center;
}

section.avocation .card-wrapper .card{
    background-color: var(--pure);
    padding: 3rem 3rem;
    position: relative;
    transition:all .3s ease;
    -o-transition:all .3s;
    -moz-transition:all .3s ;
    -webkit-transition:all .3s ;
    -ms-transition:all .3s ;
    padding-top: 4rem;
}


section.avocation .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%) ;
    -moz-transform: translateX(-50%);
    -ms-transform:translateX(-50%) ;
    -o-transform: translateX(-50%);
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom:0.5rem;
}
section.avocation .card-wrapper .card p{
    font-weight: 400;
    font-family: 'Lato',sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--ternary);
    line-height: 1.6;
    padding: 1rem;
}

section.avocation .card-wrapper .card:hover{
    background-color: var(--dark);
}

section.avocation .card-wrapper .card:hover h2,section.avocation .card-wrapper .card:hover p{
    color: var(--pure);
}

/* My avocation icons */
section.avocation .card-wrapper .card img{
    background-color: var(--primary);
    padding: 1rem;
    
}

section.avocation .card-wrapper .card img:hover{
    background-color: var(--light);
}

section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/box_win.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    clip-path: polygon(0 0, 100% 0,100% 100%,75% 87%,0 100%);
    padding-bottom: 10rem;
}

section.freelancer h1,section.freelancer p{
    color: var(--pure);
}

section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: -1rem;
}

section.freelancer p{
    margin-bottom: 1.5rem;
    font-family: 'Lato',sans-serif;
}

section.photos .slider .slide img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    object-fit: cover;
    margin-bottom: 2rem;
 
}

section.photos .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.photos .slider .slide h6{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    font-weight: 1000;
    font-size: large;

}

section.photos .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}

section.photos .slider-dots{
    margin-top: 3rem;
}

section.photos .slider-dots button{
    font-size: 0;
    margin-right: 0.5rem;
    width: 9px;
    height: 6px;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}

section.photos .dots li.slick-active button{
    background-color: var(--primary);
    width: 20px;
    transition:all .3s ease;
    -o-transition:all .3s;
    -moz-transition:all .3s ;
    -webkit-transition:all .3s ;
    -ms-transition:all .3s ;
    
}



footer{
    background-color: var(--dark);
    text-align: center;
    padding: 2rem 0;
}

footer .logo{
    margin-bottom: 1rem;
}

footer .footer-social a img{
    background: var(--light);
    border-radius: 100%;
    padding: 0.5rem;
    margin-right: 0.5rem;
    height: 40px;
    
}

footer .copy-right{
    color: var(--ternary);
}

footer .footer-social{
    margin-bottom: 0.5rem;
}



.site-main-wrapper{
    position: relative;
}

.hamberger{
    
    position: absolute;
    top: 40px;
    right: 40px;
    /* without z-index icon will be under the design it will show icon above the design */
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.hamberger img{
    height: 30px;
}

.mobile-nav{
    position:fixed;
    top: 0;
    left:0;
    z-index: 1001; 
    background: var(--dark);
    width: 100%;
    height: 100%;
    padding: 2rem;

    /* move whole mobile nav outside of main view */
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%) ;
    -moz-transform: translateX(-100%);
    -ms-transform:translateX(-100%) ;
    -o-transform: translateX(-100%);
    /* add animation */
    transition:all .5s ease-in-out;
    -o-transition:all .5s;
    -moz-transition:all .5s ;
    -webkit-transition:all .5s ;
    -ms-transition:all .5s ;

}
.sub-mobile-nav{
    padding-left: 2rem;
}

.open{
    transform: translateX(0);
    -webkit-transform: translateX(0) ;
    -moz-transform: translateX(0);
    -ms-transform:translateX(0) ;
    -o-transform: translateX(0);
}

.times{
    position:fixed;
   
    right: 60px;
    border: none;
    background: var(--dark);
    outline: none;
    cursor: pointer;
}

.times img{
    height: 30px;
    
}

.mobile-nav ul{
    list-style-type: none;
}

.mobile-nav ul li a{
    color: var(--pure);
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    transition:all .3s ease;
    -o-transition:all .3s;
    -moz-transition:all .3s ;
    -webkit-transition:all .3s ;
    -ms-transition:all .3s ;
    font-size: large;
    line-height: 2rem;
}

.mobile-nav ul li a:hover{
    color: var(--primary);
}

/* media query */

@media(min-width:1311px){
    .hamberger{
        visibility: hidden;
    }
}
 @media(max-width:1311px){
    header #main-nav{
        display: none;
    }

    
    .hero .right h6{
        font-size: 1.5rem;
    }
    .hero .left img {
        height: 400px;
        margin-left: 0;
        margin-right: 2rem;
    }
    
    .hero .right h1 {
        font-size: 3rem;
        margin-bottom: 0.7rem;
    }
    .hero {
        padding-top: 10rem;
    }

    .hero .right p {
        line-height: 1.5;
        margin-bottom: 0.7rem;
        font-weight: 100;
        letter-spacing: 0.01rem;
    }

    header {
        clip-path: polygon(0 0, 100% 0,100% 100%,75% 89%,0 100%);
    }

    .btn{
        padding:0.5rem;
        font-size: large;    
    }

    *{
        box-sizing:content-box;
    }
   
    .btn span{
        margin-left: 0.3rem;
    }

    section {
        padding: 4rem 0;
    }

    section.about h1 {
        margin-bottom: 0;
    }    

    section.about p{
        margin-bottom: 0.5rem;
    }

    section.about h3 {
        
        margin-bottom: 0rem;
    }

    section.avocation .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }

    section.avocation .card-wrapper .card h2{
        margin-top: 1rem;
    }
}  

@media(max-width:576px)
{   
    .hero
    {
        flex-direction: column;
    }
    
    .container {
       padding: 29px 15px;
    }
    header{
        clip-path: polygon(0 0, 100% 0,100% 100%,74% 92%,0 100%);
        background-image:  url("../images/remove_bg.png" );
        background-size:cover;
        background-position: center top; background-position: center center;
        margin-top: -150px;
    }

    .hero {
        align-items: center;
        
        padding-bottom: 16rem;
    }

    .hero .right{
        position: absolute;
        top: 260px;
        padding: 3rem 1rem;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9));
    }
    .hamberger{
        top: 3%;
        right: 5%;
    }

   
    .hero .left {
        margin-top: -9rem;
        margin-right: -1.9rem;
        padding-bottom: 3rem; 
    }

    .hero .left img{
        opacity: 0;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    section.about .container .flex-1 .about-me-image {
        height: 300px;
    }

    .about .right{
        text-align: center;
    }

    section.about p{
        text-align:justify;
        margin: 0.5rem;
    }
    section.about .social a{
        
        height: 27px;
        width: 27px;
    }

    section.about .social a img{
        height: 65%;
        width: 65%;
    }

    section.about h3 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        
    }
    section.about h1 {
        margin-top: 0.7rem;
    }

    .about .right .social{
        justify-content: center;
        margin-top: 1.4rem;
    }

    section {
        padding: 1rem 0;
    }

    section.avocation .card-wrapper {
        grid-template-columns: repeat(1,1fr);
    }

    section.freelancer h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }

    section.freelancer{
        padding-bottom: 5rem;
    }

   .btn{
    font-size: x-small;
    font-weight: bolder;
   }

   .section-heading + p{
    margin-bottom: 5rem;
   }   

   .mobile-nav{
    padding: 0rem;
    background-color: var(--dark);
   }
   .sub-mobile-nav{
    padding-left: 0rem;
   }
   .sub-mobile-nav img{
    padding: 1rem;
    height: 55px;
   }
   .sub-mobile-nav li{
    padding: 1rem;
    /* background-color: var(--primary); */
   }
   .times{
    top:2.35%;
    left: 82%;
   }

   .times img {
    padding: 1rem;
    height: 23px;
    }

    footer .footer-social a img{
        height: 17px;   
    }

    footer .logo{
        height:60px;
        margin: 0.5rem;
    }

    footer .copy-right {
        font-size: small;
    }

    footer{
        padding: 0.5rem;
    }
}




